

  


body1{
    margin:0;
    height:100vh;
    display:grid;
    place-items:center;
    background-color:#111;
  }
  
  .gallery{
    position:relative;
    width:300px;
    height:200px;
    transform-style:preserve-3d;
    animation:rotate 35s linear infinite;
  }
  
  @keyframes rotate{
    from{
      transform:perspective(1200px) rotateY(0deg);
    }
    
    to{
      transform:perspective(1200px) rotateY(360deg);
    }
  }
  
  .gallery span{
    position:absolute;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
  
  .gallery span img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
  }

  .container3{

    text-align: center;

    h2{
  padding-top: 1.5rem;
  color: aliceblue;
}
a{
  color: #fafafa;
}
a:hover{
  color: #f50057;
  text-decoration: none;
}
.card{
  border: 0.40rem solid #f50057;
  top: 10%;
}
.form-control{
  background-color: #f50057;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-control:focus {

    color: #ffffff;
    background-color: #f50057;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.btn{
  padding: 0.6rem 1.2rem;
  background: #f50057;
  border: 2px solid #da5767;
}
.btn-primary:hover {

    
    background-color: #517b0c;
    border-color: #df8c96;
  transition: .3s;

  .form-control {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f50057;
    transform: scaleX(0);
    transform-origin:center;
    transition: 0.5s;



}
